<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828922102276-umap3chtdqemga2ibheor6gb51jvnf00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828922102276-umap3chtdqemga2ibheor6gb51jvnf00</string>
	<key>API_KEY</key>
	<string>AIzaSyAJUdr_NxNgGBiHq7X7piN5FcCMdprGRtw</string>
	<key>GCM_SENDER_ID</key>
	<string>828922102276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-MyStoreIdentify</string>
	<key>PROJECT_ID</key>
	<string>mystore-aaab8</string>
	<key>STORAGE_BUCKET</key>
	<string>mystore-aaab8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828922102276:ios:0707f25322d9db21caab51</string>
</dict>
</plist>